*{
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    background-color: black;
    color: white;
    width: 60%;
    margin: auto;
  }
  
  .header-container {
    background-color: black;
  }
  
  .header img {
    width: 100px;
    padding: 15px 0;
  }
  
  .header ul {
    display: inline;
    float: right;
    padding-top: 20px;
  }
  
  .header li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
  }
  
  .header a {
    text-decoration: none;
    color: white;
  }
  
  .premium {
    background-color: rgb(29, 117, 222);
    color: white;
    padding: 72px 0 40px 0;
  }
  
  .premium-content {
    width: 60%;
    margin: auto;
  }
  
  .premium-content h1 {
    font-size: 30px;
  }
  
  .premium-content h2 {
    font-size: 20px;
    font-weight: 300;
  }
  
  .premium-content h1, .premium-content h2 {
    padding-bottom: 30px;
  }
  
  .premium-content a {
    color: white;
  }
  
  .premium-content p {
    padding-top: 20px;
    font-size: 10px;
    font-weight: 200;
  }
  
  .premium-buttons {
    display: inline-block;
    border-radius: 100px;
    padding: 12px 20px;
    font-size: 11px;
    font-weight: 600;
  }
  
  .comece-agora {
    background-color: black;
    
  }
  
  .ver-planos {
    border: 1px solid white;
  }
  .premium-buttons:hover{
    background-color: gray;
  }
 li a:hover{
  background-color: cadetblue;
  border-radius: 20px;
  
 
 
  
 }

 .mhy-premium{
  text-align: center;
 
 }
  
 .mhy-premium div{
  display: inline-block;
  margin: 20px;
  margin-bottom: 50px;

 } 
 .mhy-premium h2{
  margin: 50px 8px;
 }
 .mhy-premium img{
  padding-bottom: 20px;
 }

 .footer{
  text-align: center;
  background-color: #f1f1f1;
  height: 700px;
 }

 .footer h2{
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 30px;
 }
 .footer h3{
  font-weight: 400;
  padding-bottom: 60px;
 }

 .favorites-bands{
  background-color: grey;
  margin: auto;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black
  (0,0,0,0.84);
}

.favorites-bands h3{
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
  
}
.favorites-bands ol{
  list-style: none;
  padding-bottom: 20px;
  
  
}

.favorites-bands a{
  text-decoration:none;
  color: black;
  font-weight: 400;
  
}

